.container {
  margin-top: 30px;
}

.title {
  font-size: 18px;
}

.reply {
  font-size: 18px;
}

.row {
  display: flex;
  position: relative;
  margin: 30px auto;
  max-width: 380px;
  @media (max-width: 480px) {
    margin: 30px 10px;
  }
}

.key {
  width: 80px;
  align-self: center;
  flex-shrink: 0;
}

.input,
.textarea {
  flex: auto;
  font-size: 14px;
  color: #555;
  border: #bbb 1px solid;
  width: 240px;
}
.input {
  height: 24px;
}

.info {
  flex-shrink: 0;
  margin-left: 12px;
  color: #999;
  font-size: 12px;
  align-self: flex-end;
}

.textarea {
  height: 80px;
}

.submit {
  display: block;
  border: #bbb 1px solid;
  padding: 8px 12%;

  &:hover:not(.disabled) {
    color: #fff;
    background-color: #bbb;
  }

  &.disabled {
    color: #999;
    cursor: no-drop;
  }
}

.error {
  position: absolute;
  color: #e23c86;
  top: 34px;
  left: 83px;
}
