.container {
  margin-top: 100px;
  padding: 40px 0;
  background-color: #333;
  color: #fff;
}

.center {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

.center > * {
  margin: 8px;
}