.tocPanel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow-y: hidden;
  width: 23%;
  color: #999;
  font-size: 14px;

  @media (max-width: 1480px) {
    display: none;
  }

  ul {
    padding-left: 30px;
  }

  li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 8px 0;

    a {
      color: #999;
      padding: 2px 0;

      &:hover {
        color: #666
      }

      &:global(.active) {
        font-size: 16px;
        color: #666;
      }
    }
  }
}

.number {
}

.text {
  margin-left: 10px;
}