style.
  #content {
    max-width: 500px;
  }
  .option {
    margin: 0 3px;
  }

div
  ol.breadcrumb
    li: a(href="#/") 主页
    li.active 评论管理

div
  table.table.table-bordered.table-hover
    thead
      tr
        th 文章标题
        th 评论内容
        th 评论者
        th 评论者邮箱
        th 评论者网站
        th 评论时间
        th 允许邮件
        th 操作
    tbody
      tr(ng-repeat="comment in vm.comments")
        td {{ comment.blog.title }}
        td#content {{ comment.content }}
        td {{ comment.user }}
        td {{ comment.email }}
        td: a(href="{{ comment.url }}" target="_blank") {{ comment.url }}
        td {{ comment.create_at | date : 'yyyy-MM-dd HH:mm' }}
        td {{ comment.receive_email ? '是' : '否' }}
        td
          a.option(href="javascript:" ng-click="vm.reply(comment)") 回复
          a.option(href="javascript:" ng-click="vm.delete(comment)") 删除

