div
  ol.breadcrumb
    li: a(href="#/") 主页
    li.active 评论管理

div
  table.table.table-bordered.table-hover
    thead
      tr
        th 文章标题
        th 评论内容
        th 评论者
        th 评论者邮箱
        th 评论者网站
        th 评论时间
        th 操作
    tbody
      tr(ng-repeat="comment in vm.comments")
        td {{ comment.blog.title }}
        td {{ comment.content }}
        td {{ comment.user }}
        td {{ comment.email }}
        td {{ comment.url }}
        td {{ comment.create_at | date : 'yyyy-MM-dd HH:mm' }}
        td
          a(href="javascript:" ng-click="vm.delete(comment)") 删除
