html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  color: #555;
}

a,
a:visited {
  text-decoration: none;
  color: #666;
  transition: color 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover {
  color: #42a5f5;
}

a:global(.underline) {
  font-size: 90%;
  border-bottom: 1px dashed #666;
  position: relative;
  top: -1px;
  padding-bottom: 1px;
  margin: 0 2px;
}

