html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  color: #555;
}

a,
a:visited {
  text-decoration: none;
  color: #666;
  transition: color 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a:hover {
  color: #42a5f5;
}

a:global(.underline) {
  font-size: 90%;
  border-bottom: 1px dashed #666;
  position: relative;
  top: -1px;
  padding-bottom: 1px;
  margin: 0 2px;
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../../node_modules/source-code-pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
  url('../../node_modules/source-code-pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
  url('../../node_modules/source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff');
}
