html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  color: #555;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #555;
}