div
  ol.breadcrumb
    li: a(href="#/") 主页
    li.active 文章管理

  a.btn.btn-primary.btn-sm.pull-right(href="#/blogs/new") 新文章
  a.btn.btn-primary.btn-sm.pull-right(href="javascript:", ng-click="vm.updateAll()") 全部刷新

div
  table.table.table-bordered.table-hover
    thead
      tr
        th 文章标题
        th 点击数
        th 评论数
        th 发布日期
        th 操作
    tbody
      tr(ng-repeat="blog in vm.blogs")
        td: a(href="#/blogs/{{blog.code}}") {{ blog.title }}
        td {{ blog.click_count }}
        td {{ blog.comment_count }}
        td {{ blog.create_at | date : 'yyyy-MM-dd HH:mm:ss' }}
        td
          a(href="javascript:" ng-click="vm.delete(blog)") 删除

