div
  table.table.table-bordered.table-hover
    thead
      tr
      th 文章标题
      th 点击数
      th 评论数
      th 发布日期
      th 操作
    tbody
      tr(ng-repeat="blog in vm.blogs")
        td {{ blog.title }}
        td {{ blog.click_count }}
        td {{ blog.comment_count }}
        td {{ blog.create_at | date : 'yyyy-MM-dd HH:mm:ss' }}
        td 编辑 / 删除

