div
  .modal-header
    h4.modal-title {{:: isNew ? '新建' : '修改' }}分类
  .modal-body
    form
      .form-group.form-group-sm
        label.control-label(for='name') 分类名称
        input.form-control#name(name="name", ng-model="category.name")
      .form-group.form-group-sm
        label.control-label(for='code') 英文名称
        input.form-control#code(name="code", ng-model="category.code")
  .modal-footer
    button.btn.btn-default(type="button", ng-click="cancel()") 关闭
    button.btn.btn-primary(type="button", ng-click="ok()") 保存
