.header {
  height: 64px;
  //background-color: #f5f5f5;
  display: flex;
  align-items: center;
  border-bottom: 1px #e3e3e3 solid;

  @media (max-width: 480px) {
    height: 84px;
  }
}

.navigation {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  position: relative;

  @media (max-width: 480px) {
    display: block;
    padding: 0 20px;
  }
}

.logo {
  font-size: 24px;
  margin-right: 40px;
  color: #333;
  color: rgba(66, 165, 245, 0.67);
  transition: color 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  &:hover {
    color: #42a5f5;
  }
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;

  @media (max-width: 480px) {
    margin-top: 18px;
    justify-content: space-between;
    .listItem {
      margin: 0;
    }
  }

  .active {
    .menuLink {
      color: #42a5f5;
    }
  }
}

.listItem {
  list-style: none;
  margin-right: 20px;
}

.search {
  right: 10px;
  bottom: 0;
  position: absolute;

  @media (max-width: 480px) {
    top: 6px;
    right: 22px;
  }

  :global(.fa-search) {
    font-size: 16px;
    color: #42a5f5;
    padding: 8px;
  }

  > .searchInput {
    padding: 4px 0;
    margin-right: -24px;
    outline: none;
    border: none;
    border-bottom: 1px #42a5f6 solid;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    width: 0;
  }

  &.active > .searchInput {
    padding-right: 20px;
    width: 120px;
  }
}



