.blogItem {
  margin-top: 60px;
  margin-bottom: 80px;

  @media (max-width: 480px) {
    margin-top: 0;
  }
}
.title {
  margin: 10px 0;

  > a {
    display: inline;
    font-size: 24px;
    font-weight: normal;
  }
}
.info {
  color: #888;
  font-size: 12px;
}
.look {

  > a {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    border-bottom: 1px dashed #666;
  }
}